@import url(./css/btns.css);
@import url(./css/modals.css);
@import url(./css/layout.css);
@import url(./css/utilities.css);
@import url(./css/recipe-card.css);
@import url(./css/recipe-details.css);
@import url(./css/header.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Georgia', 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #faf8f5;
  color: #2c2c2c;
}

code {
  font-family: 'Courier New', monospace;
}

.app-container {
  min-height: 100vh;
  padding: 40px 24px;
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
}